<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home"><%= title %> </a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/Ticket">Ticket</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/validation">Validacão</a>
    </li>
  </ul>
</nav>